@model IndexViewModel


@{
    var base_path = Context.Request.PathBase;
}


<main>
    <div class="completeBasketOrderFinalMessageContainer text-center">
        <h1>Some info</h1>
    </div>
</main>