@model Category

@{}

<div>
    <form asp-controller="Panel" asp-action="EditCategory" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div>
            <label>Name</label>
            <input asp-for="Name" />
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>