body{
    margin: 0;
    background-color: lightblue;
}

.mainContent {
    min-height: calc(100vh - 40px);
}

a {
    color: orange;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

nav{
    background-color: #142222;
    height: 50px;
    width: 100%;
    text-align: center;
}

nav a{
display: inline-block;
padding: 15px;
}


.main-img{
    position: relative;
    height: 500px;
    background-image: url('content/static/Screenshot (60).png');
    background-position: center;
    background-size: cover;
}

.title{
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    text-shadow: 0 0 10px black;
}

.container{
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.container-margin-top{
    margin-top: 5vh !important;
}


.post {
    margin: 5px;
    position: relative;
    display: flex;
    height: 400px;
    box-shadow: 0 0 5px 0 black;
}

.post img{
    width: 100%;
    object-fit: cover;
}

.no-shadow{
    box-shadow: none;
}

.post-body{
    margin: -5px 5px 0;
    padding: 20px 5px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.price-range-input{
    max-width: 5vw;
}


.index-container {
    display: grid;
    grid-template-areas: "index-aside index-article index-article";
    /*grid-template-columns: repeat(9, 1fr);*/
}

.index-aside{
    grid-area: index-aside;
}

.index-article {
    grid-area: index-article;
}

.index-footer {
    text-align: center;
    background: #FFFDD0;
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.pagination-nav {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    margin: 1.5%;
}

/* Basket page */
    .basketSingleImage {
    width: 8vw !important;
}

/*.basketItemCountInput{*/
/*    width: 3vw;*/
/*    text-align: center;*/
/*}*/

.basketPaginationNav {
    bottom: 16vh;
}

.showClientItemsTable {
    text-align: center;
    margin-top: 8vh;
}

    .showClientItemsTable * {
        border: 1px solid black;
        text-align: center;
    }

.showClientItemsTableSingleImage {
    width: 6vw;
}

.completeBasketOrderFinalMessageContainer {
    margin-top: 20vh;
}

/* Sub comment */

.sub-comment{
    margin-left: 25px;
}

.comment-section{
    margin-top: 2%;
}